/dev/mmcblk1p1: LABEL_FATBOOT="ARMBI_EFI" LABEL="ARMBI_EFI" UUID="EFFE-E0A6" BLOCK_SIZE="512" TYPE="vfat" PARTLABEL="efi" PARTUUID="d9bb53f1-b49b-4ba9-b244-0c53e0df6df0"
/dev/mmcblk1p2: LABEL="root_fs" UUID="dada0043-db41-4f9d-bf68-47bedb9ed139" BLOCK_SIZE="4096" TYPE="ext4" PARTLABEL="root_fs" PARTUUID="9edd9cf9-d059-47a4-a3ee-13550d82efb8"
