/dev/mmcblk0p2: LABEL="root_fs" UUID="88c31e16-7859-4dde-983c-da6c439b5ca5" BLOCK_SIZE="4096" TYPE="ext4" PARTUUID="143d25dc-02"
/dev/mmcblk0p1: LABEL_FATBOOT="boot_fs" LABEL="boot_fs" UUID="EA99-65CB" BLOCK_SIZE="512" TYPE="vfat" PARTUUID="143d25dc-01"
