/dev/mmcblk0p1: SEC_TYPE="msdos" LABEL_FATBOOT="BOOT" LABEL="BOOT" UUID="3E8C-4FB7" BLOCK_SIZE="512" TYPE="vfat" PARTUUID="4fd82e60-01"
/dev/mmcblk0p2: LABEL="ROOT" UUID="0683d63d-0db1-4c80-92a7-02aad90b364b" BLOCK_SIZE="4096" TYPE="ext4" PARTUUID="4fd82e60-02"
