/dev/mmcblk0p2: LABEL="root_fs" UUID="536323bc-062c-4931-a1a1-a77f5d2eec55" BLOCK_SIZE="4096" TYPE="ext4" PARTUUID="51346ee6-02"
/dev/mmcblk0p1: LABEL_FATBOOT="boot_fs" LABEL="boot_fs" UUID="6739-61E9" BLOCK_SIZE="512" TYPE="vfat" PARTUUID="51346ee6-01"
