/dev/nvme0n1p1: LABEL_FATBOOT="boot_fs" LABEL="boot_fs" UUID="8BB8-3589" BLOCK_SIZE="512" TYPE="vfat" PARTUUID="9c8601b4-01"
/dev/nvme0n1p2: UUID="f22f49e8-5527-46ef-8e33-1507f135bc10" TYPE="crypto_LUKS" PARTUUID="9c8601b4-02"
