NAME                    SIZE TYPE  MOUNTPOINTS
ev012                   931G crypt 
vg_raspiCM46401-root     10G lvm   /
vg_raspiCM46401-swap      8G lvm   [SWAP]
vg_raspiCM46401-usr      40G lvm   /usr
vg_raspiCM46401-var     100G lvm   /var
vg_raspiCM46401-tmp      50G lvm   /tmp
vg_raspiCM46401-opt       5G lvm   /opt
vg_raspiCM46401-home    200G lvm   /home
vg_raspiCM46401-srv     500G lvm   /srv
vg_raspiCM46401-extra    17G lvm   
nvme0n1               931.5G disk  
nvme0n1p1               512M part  /boot
nvme0n1p2               931G part  
