NAME                  SIZE TYPE  MOUNTPOINTS
ev012               952.9G crypt 
vg_raspi56401-root     10G lvm   /
vg_raspi56401-home    200G lvm   /home
vg_raspi56401-opt       4G lvm   /opt
vg_raspi56401-srv     500G lvm   /srv
vg_raspi56401-tmp      55G lvm   /tmp
vg_raspi56401-usr      25G lvm   /usr
vg_raspi56401-var     100G lvm   /var
vg_raspi56401-extra    50G lvm   
vg_raspi56401-swap      8G lvm   [SWAP]
nvme0n1             953.9G disk  
nvme0n1p1               1G part  /boot
nvme0n1p2           952.9G part  
