NAME           SIZE TYPE  MOUNTPOINTS
mmcblk0       59.4G disk  
mmcblk0p1      500M part  /boot
mmcblk0p2       59G part  
em02          58.9G crypt 
vg_mini2-swap    6G lvm   [SWAP]
vg_mini2-usr     9G lvm   /usr
vg_mini2-root 43.9G lvm   /
