# for cronie
HOME=/
# Global variables
SHELL=/bin/bash
#PATH=/sbin:/bin:/usr/sbin:/usr/bin
PATH=/root/bin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/home/joe/script
#MAILTO=root
MAILTO=
HOME=/
 
# check scripts in cron.hourly, cron.daily, cron.weekly and cron.monthly
# if anacron is not present

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed
59   *  *  *  * root       rm -f /var/spool/cron/lastrun/cron.hourly
9    3  *  *  * root       rm -f /var/spool/cron/lastrun/cron.daily
19   4  *  *  6 root       rm -f /var/spool/cron/lastrun/cron.weekly
29   5  1  *  * root       rm -f /var/spool/cron/lastrun/cron.monthly
*/10 *  *  *  * root       test -x /usr/sbin/run-crons && /usr/sbin/run-crons

9    7  *  *  * root       /usr/bin/cloudsync
7    1  *  *  * root       /usr/sbin/gen_admin_daily_msg_file
6    2  *  *  * root       /usr/sbin/eix_update
46   1  *  *  * root       /usr/sbin/01_logrotate
*/10 *  *  *  * root       /usr/sbin/binhost_cleanup

# crontab fields:
# 0 or 7=Sunday, 1=Monday 2=Tuesday, 3=Wednesday, 4=Thursday, 5=Friday, 6=Saturday
# * in any of the above slots would mean all of them
# A range can be given as well, such as 1-4
# You can also specify specific values with a comma between them
# You can also add a username between the times it can run and the command like so: 
#     0 1,6,12,18 2-10 3 4 joe /usr/bin/sometask 
#       to run the command as a certain user on the 2nd through 10th days of a month 
#       at 1:00AM, 6:00AM, 12 noon, and 6:00PM

