#!/bin/bash
root_vg=vg_barracuda
mountpoint=/mnt/gentoo
#efi_uuid=BA32-B92E
#boot_partuuid='0006733d-01'
boot_partuuid='ccd8b0dd-01'

for x in $(lvs | grep "${root_vg}" | grep -v 'root\|swap\|extra' | awk '{print $1}')
do
  [ ! -d "${mountpoint}/${x}" ] && echo "mkdir ${mountpoint}/${x}..." && mkdir "${mountpoint}/${x}"
  mount "/dev/mapper/${root_vg}-${x}" "${mountpoint}/${x}"
done

#[ ! -d "${mountpoint}/efi" ] && echo "mkdir ${mountpoint}/efi ..." && mkdir "${mountpoint}/efi"
#mount "UUID=${efi_uuid}" "${mountpoint}/efi"

[ ! -d "${mountpoint}/boot" ] && echo "mkdir ${mountpoint}/boot ..." && mkdir "${mountpoint}/boot"
mount "PARTUUID=${boot_partuuid}" "${mountpoint}/boot"

echo "here is what I mounted..."
mount | grep "${mountpoint}"
echo


echo "mount /boot as below now, or at / AFTER chroot (see fstab)"
echo "   # mount PARTUUID=${boot_partuuid} ${mountpoint}/boot"

#/dev/sdb1: LABEL="boot_fs"
#    UUID="0b781ebb-9aae-488b-980d-69516cf49100" BLOCK_SIZE="4096" TYPE="ext4"
#    PARTUUID="ccd8b0dd-01"
#/dev/sdb2: UUID="845db7db-7a64-4ec8-9e6c-813a9003e648" TYPE="crypto_LUKS" PARTUUID="ccd8b0dd-02"
#/dev/mapper/edb2: UUID="4Yz80s-Qybd-9ZvE-2Zzy-sSFe-3E2I-N9WAdZ" TYPE="LVM2_member"
#/dev/mapper/vg_barracuda-root: LABEL="root_fs" UUID="36fd2e20-405c-476d-90b4-cc1f658f40c8" BLOCK_SIZE="4096" TYPE="ext4"
#/dev/mapper/vg_barracuda-usr: LABEL="usr_fs" UUID="b7a7b6ba-d52e-4c8a-810b-26b765738d07" BLOCK_SIZE="4096" TYPE="ext4"
#/dev/mapper/vg_barracuda-var: LABEL="var_fs" UUID="79ec05c9-13f6-4225-948e-5191fd940f36" BLOCK_SIZE="4096" TYPE="ext4"
#/dev/mapper/vg_barracuda-home: LABEL="home_fs" UUID="e3d78fc4-4de4-428a-8235-3b3ffbffdbd4" BLOCK_SIZE="4096" TYPE="ext4"
#/dev/mapper/vg_barracuda-opt: LABEL="opt_fs" UUID="c175a5ec-3d66-4b70-b028-cd3bc5cba63f" BLOCK_SIZE="4096" TYPE="ext4"
#/dev/mapper/vg_barracuda-tmp: LABEL="tmp_fs" UUID="b6bab90d-807b-4152-a1f5-abb8b53d727a" BLOCK_SIZE="4096" TYPE="ext4"
#/dev/mapper/vg_barracuda-srv: LABEL="srv_fs" UUID="f5c5fb8b-36f2-4e1e-8962-3daa88b7b107" BLOCK_SIZE="4096" TYPE="ext4"
#/dev/mapper/vg_barracuda-extra: LABEL="extra_fs" UUID="ef8b82c8-3fee-4f59-b7c7-4342905fe042" BLOCK_SIZE="4096" TYPE="ext4"
#/dev/mapper/vg_barracuda-swap: UUID="26e8daaa-11de-496a-9440-a3dd24d498f5" TYPE="swap"
#/dev/sda1: LABEL_FATBOOT="KEY" LABEL="KEY" UUID="39B0-10BD" BLOCK_SIZE="512" TYPE="vfat" PARTUUID="f6db73b1-01"

# retro (template) did not have an efi partition, but see above if yours does
