label: dos
#label-id: 0x5f185faf
device: /dev/mmcblk0
unit: sectors
sector-size: 512

#/dev/mmcblk0p1 : start=       32768, size=   121602048, type=83
/dev/mmcblk0p1  :  start= 32768, size= ,  type=83
