label: dos
#label-id: 0x51346ee6
device: /dev/mmcblk0
unit: sectors
sector-size: 512

#/dev/mmcblk0p1 : start=        8192, size=     1048576, type=c
/dev/mmcblk0p1  :  start= 8192,  size= 1048576,  type=c
#/dev/mmcblk0p2 : start=     1056768, size=   120578048, type=83
/dev/mmcblk0p2  :  start= 1056768, size= ,  type=83
