label: dos
#label-id: 0x1ca09ac5
device: /dev/mmcblk0
unit: sectors
sector-size: 512

#/dev/mmcblk0p1 : start=        8192, size=      512000, type=c
/dev/mmcblk0p1  :  start= 8192,  size= 512000,  type=c
#/dev/mmcblk0p2 : start=      520192, size=   121114624, type=83
/dev/mmcblk0p2  :  start= 520192, size= ,  type=83
